.tooltip { 
    display: inline-flex;
    background: rgba(255,255,255,0.65);
    border: 1px solid #00000010;
    width: 7px;
    height: 7px;
    margin-left: 5px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 4px;
    position: relative;
    top: -10px;
}

/* put an i an after element */
.tooltip::after { 
    content: "?";
    font-size: 5px;
    color: #fff;
}

.tooltip:hover { 
    background: rgba(255,255,255,1);
}

.tooltip:hover .tooltip__text { 
    display: block;
}

.tooltip__text { 
    display: none;
    position: absolute;
    background: rgba(255,255,255,.15);
    border: 1px solid #00000010;
    border-radius: 5px;
    font-size: 12px;
    left: 20px;
    color: #FFF;
    width: 300px;
    text-align: center;
    z-index: 999;
    padding: 10px;
    box-shadow: 0 0 10px 0 #00000010;
    backdrop-filter: blur(10px);
}