.blue { 
  color: #FFFFFF;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1220px;
}

/* create x y variable that will be used to move the after element circle around slightly */

:root {
  --x: 0;
  --y: 0;
}

/* use counter to keep track of x y */

body {
  counter-reset: x y;
}

/* use counter to move the after element circle around slightly */

.hero {
  margin: 40px;
  background: #0860F8;
  border-radius: 60px;
  min-height: 720px;
  position: relative;
  min-height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
}

.hero .content { 
  position: relative;
  z-index: 1;
}

.hero .content h1 { 
  color: #fff;
  margin-bottom: 3rem;
}

.hero::before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../overlay-lines.svg);
  background-repeat: repeat;
  z-index: 0;
}

.hero::after { 
  content: "";
  position: absolute;
  top: -75vw;
  right: -75vw;
  width: 130vw;
  height: 130vw;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  background-repeat: repeat;
  z-index: 0;
  transform: translate(var(--x), var(--y));
  overflow: hidden;
}

.hero label { 
  margin-bottom: 10px;
}