.blue { 
  color: #FFFFFF;
}

.container {
  padding: 1.5rem 3rem;
  margin: 0 auto;
  max-width: 1220px;
}

.hero {
  margin: 20px;
  background: #0860F8;
  border-radius: 40px;
  position: relative;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px 15px rgba(8, 96, 248, 0.18);
  margin-bottom: 40px;
}

.hero .content { 
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.hero .content h1 { 
  color: #fff;
  margin-bottom: 3rem;
  max-width: 600px;
}

.hero::before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../overlay-lines.svg);
  background-repeat: repeat;
  z-index: 0;
}

.hero::after { 
  content: "";
  position: absolute;
  top: -55vw;
  right: -75vw;
  width: 130vw;
  height: 130vw;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  background-repeat: repeat;
  z-index: 0;
  overflow: hidden;
  animation: move 10s ease-in-out infinite;
}

.hero label { 
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) { 
  .hero .content h1 { 
    max-width: 100%;
  }
}

@keyframes move { 
  0% { 
    transform: translateY(0);
  }
  50% { 
    transform: translateY(-5%);
  }
  100% { 
    transform: translateY(0);
  }
}