* {
  font-family: 'Iosevka Web', sans-serif !important;
}

:root {
  font-family: 'Iosevka Web', sans-serif !important;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 9px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.2s ease-in-out;
}

nav .container {
  padding-block: 0;
}

nav .logo {
  display: inline-flex;
  color: rgba(0, 0, 0, .65);
  margin-top: 20px;
}

nav .logo h4 {
  margin: 0;
}

nav .logo img {
  margin-right: 10px;
  margin-bottom: 3px;
}

button.cta {
  background: rgb(19, 19, 255);
  color: #fff;
}

button.secondary {
  background: #FFFFFF;
}

button.primary {
  background: #F1F1F1;
  color: #000000;
}

button.cta:hover {
  background: rgb(16, 16, 210);
  color: #fff;
}

button.primary:hover {
  background: #E6ECF0;
}

button.primary:active {
  background: #E6ECF0;
}

button.secondary:hover {
  background: #E6ECF0;
}

button.secondary:active {
  background: #E6ECF0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

footer {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  text-align: right;
}

footer p { 
  text-align: left;
}

@media (max-width: 900px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "social"
      "links";
    text-align: left;
  }
}